absl-py
click
certifi
flask
grpcio
gunicorn
h5py
itsdangerous
Jinja2
line-bot-sdk
Markdown
MarkupSafe
numpy==1.26.4
pillow
protobuf
python-dotenv
requests
scipy==1.11.4
tensorboard
tensorflow-cpu==2.17.1
termcolor
urllib3
Werkzeug
