header {
    background-color: #76B55B;
    height: 60px;
    margin: -8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.header-logo {
    color: #fff;
    font-size: 25px;
    margin: 15px 25px;
}

.main {
    text-align: center;
    height: 370px;
}

h2, p {
    color: #444444;
}

.answer {
    color: #444444;
    font-size: 24px; /* •¶ŽšƒTƒCƒY‚ð‘å‚«‚­ */
    font-weight: bold;
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

.file_choose {
    display: block;
    margin: 10px auto;
}

.btn {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

    .btn:hover {
        background-color: #45a049;
    }

    .btn.disabled {
        background-color: gray;
        cursor: not-allowed;
    }

footer {
    background-color: #F7F7F7;
    height: 110px;
    margin: -8px;
    position: relative;
    text-align: center;
}

small {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}
