/* ヘッダー */
header {
    background-color: #76B55B;
    height: 60px;
    margin: -8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.header-logo {
    color: #fff;
    font-size: 25px;
    margin: 15px 25px;
}

/* メインコンテンツ */
.main {
    height: 370px;
    text-align: center;
}

h2 {
    color: #444444;
    margin: 90px 0px;
}

p {
    color: #444444;
    margin: 70px 0px 30px 0px;
}

.answer {
    color: #444444;
    margin: 70px 0px 30px 0px;
}

/* フォーム */
form {
    text-align: center;
}

/* 画像プレビュー */
#preview {
    max-width: 200px;
    max-height: 200px;
    display: none; /* 初期状態は非表示 */
    margin-top: 10px;
    border: 2px solid #76B55B;
    border-radius: 5px;
}

/* フッター */
footer {
    background-color: #F7F7F7;
    height: 110px;
    margin: -8px;
    position: relative;
}

small {
    margin: 15px 25px;
    position: absolute;
    left: 0;
    bottom: 0;
}
